

<!-- ================= CTA ================= -->
<section class=" bg-[url('/teaTree.jpeg')] bg-cover bg-center  text-white text-center ">
<div class="bg bg-green-900/70 py-14">
    <h2 class="text-2xl md:text-3xl font-bold mb-6">
Together We Can Build a Just & Equal Society
</h2>

<div class="flex justify-center gap-4 flex-wrap">
<a class="bg-orange-500 px-6 py-3 rounded">Donate Now</a>
<a class="bg-green-600 px-6 py-3 rounded">Become Volunteer</a>
</div>
</div>
</section>


<footer class="bg-gray-900 text-white text-center py-4">
© 2026 ALO — All Rights Reserved
</footer>


<!-- ================= MOBILE MENU SCRIPT ================= -->
<script>
const btn = document.getElementById("menuBtn");
const menu = document.getElementById("mobileMenu");

btn.addEventListener("click", () => {
  menu.classList.toggle("hidden");
});
</script>

</body>
</html>
